{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}Qxam | Password Reset{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col screen-half d-none d-lg-flex d-xl-flex">
                <img src="resources/img/auth_pages_main_illustration.webp" alt="student-writing-illustration"
                    class="auth-page-illustration">
            </div>
            <div class="col screen-half">
                <div class="form-container">
                    <form action="/password/reset/" method="post">
                        <h6 class="form-title mb-4">
                            Reset Password
                        </h6>
                        <label for="id_email" class="form-label">Enter account email address</label>
                        <input type="email" id="id_email" name="password" class="form-input full-border" required>
                        <button class="btn-continue submit-button medium" type="submit">Send Reset Link</button>
                    </form>
                    <p class="no-account-text">
                        Remember your password? <a class="small-link-blue" href="login.html">Sign In</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}